@media (min-width: 576px) and (max-width: 1920px){
    .col-9 p {
        font-size: 45px;
    }

    .col-4 span {
        font-size: 25px;
    }

    .col-4 p {
        font-size: 19px;
    }

    .navbar-custom {
        background-color: #00c853;
    }

    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: white;
    }

    .navbar-custom .navbar-nav .nav-link {
        color: white;
    }

    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:focus .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
        color: white;
    }
    .body {
        background-color: #f8f9fa
    }
}